<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CryptoExchange.Net" version="9.7.0" targetFramework="net461" />
  <package id="Google.Apis" version="1.70.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.70.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.70.0" targetFramework="net461" />
  <package id="Google.Apis.Sheets.v4" version="1.70.0.3819" targetFramework="net461" />
  <package id="JK.Bitget.Net" version="2.7.1" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="9.0.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Http" version="9.0.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="9.0.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="9.0.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.6" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.6" targetFramework="net461" />
  <package id="System.IO.Pipelines" version="9.0.6" targetFramework="net461" />
  <package id="System.Management" version="7.0.2" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Speech" version="9.0.9" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="9.0.6" targetFramework="net461" />
  <package id="System.Text.Json" version="9.0.6" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
</packages>